@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.champs-grid-container {
  padding: 4rem;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.champs-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

.champs-grid.animate {
  transform: translateX(200%);
  animation: image-animation 2s ease-out forwards;
}

@keyframes image-animation {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

/* @keyframes slidein {
    from {
        margin-left:100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
} */

.champ-img {
  border-radius: 50%;
}

.champ-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px #888888;
  padding: 1rem 1rem 0 1rem;
  margin: 1rem 1rem 1rem 1rem;
}

.pagination {
  list-style: none;
  text-align: center;
}

.pagination li {
  margin-right: 0.4rem;
  display: inline-block;
}

.page-link {
  padding: 0.3rem 0.8rem;
  background-color: white;
  border: none;
  color: #5555db;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.page-link:hover {
  padding: 0.3rem 0.8rem;
  background-color: #5555db;
  border: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.page-item.current-page-item .page-link {
  padding: 0.3rem 0.8rem;
  background-color: #5555db;
  border: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.champs-grid-container h1 {
  padding: 0 1rem 0 1rem;
}

.searchbox {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

.searchbox i {
  position: absolute;
  margin: 0.5rem 0 0 0.5rem;
}

.search-champs-input {
  padding: 0.5rem 1.8rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  width: 40%;
}

input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.champ-card .champ-name {
  color: rgb(4, 121, 255);
  cursor: pointer;
}

.champ-card .champ-name:hover {
  text-decoration: underline;
}

.ReactModal__Content.ReactModal__Content--after-open {
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: 0px 0px 8px #888888;
  padding: 20px;
  width: 60%;
  margin: auto;
}

.close-champ-modal::before {
  content: "x";
  color: #fff;
  font-weight: 300;
  font-family: Arial, sans-serif;
}

.modal-container {
  display: flex;
  padding: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.image-wrapper {
  height: 450px;
  width: 310px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  max-width: 310px;
  border-radius: 1rem;
}

.intro {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 1rem;
  justify-content: space-between;
}

.feature .heading {
  font-weight: bold;
}

.feature .heading::after {
  content: ":";
}

.feature {
  display: flex;
  justify-content: space-between;
}

.close-modal::before {
  position: absolute;
  top: 15px;
  right: 15px;
  content: "X";
  font-size: 1.8rem;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

span.per-level::before {
  content: ", ";
}

span.per-level::after {
  content: " per level";
}

span.per-level {
  font-style: italic;
}

.searchbox .sort-results {
  margin-right: 1.5rem;
  cursor: pointer;
  font-weight: 500;
  color: cornflowerblue;
}

#header {
  background-color: #fff;
  position: sticky;
  color: black;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  height: 3rem;
  align-items: center;
  padding: 0 0.7rem 0 0.7rem;
}

#header a {
  text-decoration: none;
  color: rgb(4, 121, 255);
}

#header #logo {
  font-weight: 600;
}

#header a:hover {
  color: rgb(5, 103, 215);
}

#header .champ-icon {
  margin-left: 0.5rem;
  color: rgb(4, 121, 255);
  font-size: 1.5rem;
  vertical-align: middle;
}

/* Add to watch styling */
.add-to-watch {
  visibility: hidden;
}

.add-to-watch::after {
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  display: inline-block;
  padding-right: 3px;
  margin-left: -8px;
  margin-top: -20px;
  vertical-align: middle;
  font-weight: 900;
  visibility: visible;
  font-size: 1.5rem;
  color: #e0e0da;
}

.add-to-watch:checked::after {
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  display: inline-block;
  padding-right: 3px;
  margin-left: -8px;
  margin-top: -20px;
  vertical-align: middle;
  font-weight: 900;
  visibility: visible;
  font-size: 1.5rem;
  color: #ffdf00;
}

#watchlist-count {
  margin-left: 0.4rem;
}

.watchlist-icon {
  color: #ff0000;
}

.no-champs-found {
  margin-left: 1rem;
}

.loading-indicator {
  margin-left: 1rem;
}
